<!DOCTYPE html>
<html lang="es">
<head>
                            <meta charset="UTF-8">
                            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            <title>Cuestionario</title>
                            {% load static %}
                            <link rel="stylesheet" href="{% static 'css/common.css' %}"
                            <link rel="stylesheet" href="{% static 'css/questions.css' %}">
                        </head>
<body>
<form id="questions-form" action="/qualify_answers/" method="POST">
{% csrf_token %}
<h3>1.  
¿Cuáles son las cuatro principales macromoléculas presentes en el ser humano?</h3>

                            <label>
                                <input type="radio" name="q1" value="Carbohidratos, lípidos, proteínas y ácidos nucleicos">
                                Carbohidratos, lípidos, proteínas y ácidos nucleicos
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q1" value="Ácidos grasos, sales minerales y vitaminas">
                                Ácidos grasos, sales minerales y vitaminas
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q1" value="Proteínas, enzimas y células">
                                Proteínas, enzimas y células
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q1" value="ADN, ARN y lípidos estructurales">
                                ADN, ARN y lípidos estructurales
                            </label><br>
                        
<h3>2.  
Seleccione las dos funciones clave de los lípidos en el organismo:</h3>

                            <label>
                                <input type="radio" name="q2" value="Almacenar energía mediante triglicéridos">
                                Almacenar energía mediante triglicéridos
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q2" value="Formar componentes de las membranas celulares (ej. fosfolípidos)">
                                Formar componentes de las membranas celulares (ej. fosfolípidos)
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q2" value="Síntesis directa de proteínas">
                                Síntesis directa de proteínas
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q2" value="Actuar como receptores inmunitarios">
                                Actuar como receptores inmunitarios
                            </label><br>
                        
<h3>3.  
Los monómeros que constituyen las proteínas son los ___</h3>

                            <label>
                                <input type="radio" name="q3" value="aminoácidos">
                                aminoácidos
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q3" value="nucleótidos">
                                nucleótidos
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q3" value="glúcidos">
                                glúcidos
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q3" value="ácidos grasos">
                                ácidos grasos
                            </label><br>
                        
<!-- Modal Dialog -->
        <div id="confirmation-dialog" class="modal">
            <div class="modal-content">
                <p>¿Seguro que quieres continuar? No podrás realizar cambios en este formulario una vez calificado ¡Revisa bien!</p>
                <input type="submit" value="Calificar">
                <button onclick="closeDialog()" type="button">Seguir revisando</button>
            </div>
        </div>
        <!-- Modal Dialog for "Regresar al chat" -->
        <div id="chat-confirmation-dialog" class="modal">
            <div class="modal-content">
                <p>¿Seguro que quieres regresar al chat? Perderás el progreso en este cuestionario.</p>
                <button id="confirm-go-home-button" type="button">Regresar al chat</button>
                <button onclick="closeDialog()" type="button">Seguir revisando</button>
            </div>
        </div>
        <div id="overlay" class="modal-overlay"></div>
</form>
<script src="{% static 'js/submitHandler.js' %}"></script>
<br><button onclick="showDialog()">Continuar</button>
<button onclick="showChatDialog()">Regresar al chat</button>
</body>