<!DOCTYPE html>
<html lang="es">
<head>
                            <meta charset="UTF-8">
                            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            <title>Cuestionario</title>
                            {% load static %}
                            <link rel="stylesheet" href="{% static 'css/common.css' %}"
                            <link rel="stylesheet" href="{% static 'css/questions.css' %}">
                        </head>
<body>
<form id="questions-form" action="/qualify_answers/" method="POST">
{% csrf_token %}
<h3>1. ¿Qué estructura fundamental comprenderás al estudiar la función del ADN en este curso?</h3>

                            <label>
                                <input type="radio" name="q1" value="Doble hélice">
                                Doble hélice
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q1" value="Cadena sencilla">
                                Cadena sencilla
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q1" value="Triple hélice">
                                Triple hélice
                            </label><br>
                        
<h3>2. ¿Qué proceso estudia la transformación de información genética en proteínas, involucrando ARN, dentro de la asignatura?</h3>

                            <label>
                                <input type="radio" name="q2" value="Expresión génica">
                                Expresión génica
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q2" value="Mutación genética">
                                Mutación genética
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q2" value="Transducción de señales">
                                Transducción de señales
                            </label><br>
                        
<h3>3. ¿Qué técnica molecular moderna se aprenderá en Introducción a la Biología Molecular para editar genes?</h3>

                            <label>
                                <input type="radio" name="q3" value="CRISPR-Cas9">
                                CRISPR-Cas9
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q3" value="Electroforesis">
                                Electroforesis
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q3" value="Microscopía electrónica">
                                Microscopía electrónica
                            </label><br>
                        
<!-- Modal Dialog -->
        <div id="confirmation-dialog" class="modal">
            <div class="modal-content">
                <p>¿Seguro que quieres continuar? No podrás realizar cambios en este formulario una vez calificado ¡Revisa bien!</p>
                <input type="submit" value="Calificar">
                <button onclick="closeDialog()" type="button">Seguir revisando</button>
            </div>
        </div>
        <!-- Modal Dialog for "Regresar al chat" -->
        <div id="chat-confirmation-dialog" class="modal">
            <div class="modal-content">
                <p>¿Seguro que quieres regresar al chat? Perderás el progreso en este cuestionario.</p>
                <button id="confirm-go-home-button" type="button">Regresar al chat</button>
                <button onclick="closeDialog()" type="button">Seguir revisando</button>
            </div>
        </div>
        <div id="overlay" class="modal-overlay"></div>
</form>
<script src="{% static 'js/submitHandler.js' %}"></script>
<br><button onclick="showDialog()">Continuar</button>
<button onclick="showChatDialog()">Regresar al chat</button>
</body>