<!DOCTYPE html>
<html lang="es">
<head>
                            <meta charset="UTF-8">
                            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            <title>Cuestionario</title>
                            {% load static %}
                            <link rel="stylesheet" href="{% static 'css/common.css' %}"
                            <link rel="stylesheet" href="{% static 'css/questions.css' %}">
                        </head>
<body>
<form id="questions-form" action="/qualify_answers/" method="POST">
{% csrf_token %}
<h3>1. ¿Por qué se les denomina macromoléculas?</h3>

                            <label>
                                <input type="radio" name="q1" value="Por su tamaño excepcionalmente grande y estructura polimérica">
                                Por su tamaño excepcionalmente grande y estructura polimérica
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q1" value="Por su capacidad para formar coloides">
                                Por su capacidad para formar coloides
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q1" value="Por su naturaleza exclusivamente biológica">
                                Por su naturaleza exclusivamente biológica
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q1" value="Debido a su bajo peso molecular">
                                Debido a su bajo peso molecular
                            </label><br>
                        
<h3>2. ¿Cuál de los siguientes NO se considera una macromolécula clásica según el contexto?</h3>

                            <label>
                                <input type="radio" name="q2" value="Lípidos">
                                Lípidos
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q2" value="Proteínas">
                                Proteínas
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q2" value="Ácidos nucleicos">
                                Ácidos nucleicos
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q2" value="Polisacáridos">
                                Polisacáridos
                            </label><br>
                        
<h3>3. Según la estructura jerárquica de las macromoléculas, ¿qué característica es crucial para su función biológica?</h3>

                            <label>
                                <input type="radio" name="q3" value="Su organización tridimensional">
                                Su organización tridimensional
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q3" value="Su carácter lineal exclusivo">
                                Su carácter lineal exclusivo
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q3" value="Su uniformidad en la secuencia de monómeros">
                                Su uniformidad en la secuencia de monómeros
                            </label><br>
                        

                            <label>
                                <input type="radio" name="q3" value="Su tendencia a una baja masa molecular">
                                Su tendencia a una baja masa molecular
                            </label><br>
                        
<!-- Modal Dialog -->
        <div id="confirmation-dialog" class="modal">
            <div class="modal-content">
                <p>¿Seguro que quieres continuar? No podrás realizar cambios en este formulario una vez calificado ¡Revisa bien!</p>
                <input type="submit" value="Calificar">
                <button onclick="closeDialog()" type="button">Seguir revisando</button>
            </div>
        </div>
        <!-- Modal Dialog for "Regresar al chat" -->
        <div id="chat-confirmation-dialog" class="modal">
            <div class="modal-content">
                <p>¿Seguro que quieres regresar al chat? Perderás el progreso en este cuestionario.</p>
                <button id="confirm-go-home-button" type="button">Regresar al chat</button>
                <button onclick="closeDialog()" type="button">Seguir revisando</button>
            </div>
        </div>
        <div id="overlay" class="modal-overlay"></div>
</form>
<script src="{% static 'js/submitHandler.js' %}"></script>
<br><button onclick="showDialog()">Continuar</button>
<button onclick="showChatDialog()">Regresar al chat</button>
</body>